[submodule "dependencies/basalt-headers-mirror"]
	path = dependencies/basalt-headers-mirror
	url = git@github.com:BEAMRobotics/basalt-headers-mirror.git
[submodule "dependencies/slamtools"]
	path = dependencies/slamtools
	url = git@github.com:BEAMRobotics/slamtools.git
