<launch>

  <node name="feature_tracker" pkg="bs_tools" type="feature_tracker">
    <param name="descriptor_config" value="$(find beam_slam_launch)/config/vo/orb_descriptor.json"/>
    <param name="detector_config" value="$(find beam_slam_launch)/config/vo/fastssc_detector.json"/>
    <param name="tracker_config" value="$(find beam_slam_launch)/config/vo/tracker.json"/>
    <param name="image_topic" value="/F1/image"/>
  </node>

</launch>
