<launch>
    <node pkg="fuse_optimizers" type="fixed_lag_smoother_node" name="fixed_lag_smoother" output="screen">
        <rosparam command="load" file="$(find beam_slam_launch)/config/kaarta_fixed_lag.yaml"/>
    </node>

    <node pkg="lidar_aggregation" type="lidar_aggregation_time_publisher_node" name="time_publisher" output="screen">
        <rosparam command="load" file="$(find lidar_aggregation)/config/const_time_publisher_params_kaarta.yaml" 
        ns="/lidar_aggregation/time_publisher" />
    </node>

    <node pkg="lidar_aggregation" type="lidar_aggregation_node" name="aggregator" output="screen">
        <rosparam command="load" file="$(find lidar_aggregation)/config/end_time_aggregator_params_kaarta.yaml" 
        ns="/lidar_aggregation/aggregator" />
    </node>

    <!-- <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="time_publisher" output="screen"
        args="load lidar_aggregation/lidar_aggregation_time_publisher_nodelet nodelet_manager" >
        <rosparam command="load" file="$(find lidar_aggregation)/config/const_time_publisher_params_kaarta.yaml" 
        ns="/lidar_aggregation/time_publisher" />
    </node>
    <node pkg="nodelet" type="nodelet" name="aggregator" output="screen"
        args="load lidar_aggregation/lidar_aggregation_nodelet nodelet_manager" >
        <rosparam command="load" file="$(find lidar_aggregation)/config/end_time_aggregator_params_kaarta.yaml" 
        ns="/lidar_aggregation/aggregator" />
    </node> -->

</launch>
