<launch>
    <!--node name="republish" type="republish" pkg="image_transport" 
    args="compressed in:=/camera/image_raw out:=/camera/image_raw/raw"/-->

    <include file="$(find beam_slam_launch)/launch/includes/calibration_publisher_kaarta.launch" />

    <node pkg="fuse_optimizers" type="fixed_lag_smoother_node" name="fixed_lag_smoother" output="screen">
        <rosparam command="load" file="$(find beam_slam_launch)/config/camera.yaml"/>
    </node>
</launch>
