<launch>
    <!--node name="republish" type="republish" pkg="image_transport" 
    args="compressed in:=/camera/image_raw out:=/camera/image_raw/raw"/-->

    <!--arg name="robot_name" default=""/>
    <arg name="extrinsics_file_path" default="/home/jake/data/VIO/euroc/extrinsics.json"/>
    <node name="calibration_publisher_main" pkg="calibration_publisher" type="calibration_publisher_main">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="extrinsics_file_path" value="$(arg extrinsics_file_path)"/>
    </node--> 

    <node pkg="fuse_optimizers" type="batch_optimizer_node" name="batch_optimizer" output="screen">
        <rosparam command="load" file="$(find beam_slam_launch)/config/camera.yaml"/>
    </node>
</launch>
