<launch>

  <!-- Load calibration params for this dataset,  including intrinsics and extrinsics.
       Note: These are global params that need to be loaded for all launch files. -->
  <rosparam command="load" file="$(find beam_slam_launch)/config/examples/hilti_2023/calibration_params.yaml"/>

  <!-- LAUNCH WITH debug:=true TO TURN ON GDB DEBUGGER -->
  <arg name="debug" default='false'/>
  <arg unless="$(arg debug)" name="launch_prefix" value=" "/>
  <arg if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args"/>


  <arg name="extrinsics_file_path" default="$(find beam_slam_launch)/calibrations/hilti_2023/extrinsics.json"/>
  <node name="calibration_publisher" pkg="calibration_publisher" type="calibration_publisher_main">
    <param name="extrinsics_file_path" value="$(arg extrinsics_file_path)"/>
  </node>

  <!-- Launch local mapper (odometry) -->
  <node pkg="bs_optimizers" type="fixed_lag_smoother_node" name="local_mapper" output="screen"
    launch-prefix="$(arg launch_prefix)">
    <rosparam command="load" file="$(find beam_slam_launch)/config/examples/hilti_2023/lvio.yaml"/>
  </node>

  <!-- LAUNCH WITH global_mapper:=true to turn on global mapper -->
  <arg name="global_mapper" default='false'/>
  <group if="$(arg global_mapper)">
    <node pkg="bs_optimizers" type="fixed_lag_smoother_node" name="global_mapper" output="screen">
      <rosparam command="load" file="$(find beam_slam_launch)/config/global_mapper.yaml"/>
    </node>
  </group>

</launch>
