<launch>

  <!-- inertial link of Husky coincides with base link frame-->
  <node pkg="tf" type="static_transform_publisher" name="baselink_to_inertiallink"
      args="0 0 0 0 0 0 1 base_link inertial_link 100" />

  <!-- Run fixed-lag-smoother, treating imu preintegration as a unary factor -->
  <node pkg="fuse_optimizers" type="fixed_lag_smoother_node" name="fixed_lag_smoother" output="screen">
    <rosparam command="load" file="$(find beam_slam_launch)/config/examples/husky_simulation.yaml"/>
  </node>

</launch>
