 <!-- Const time aggregation aggregates points at a constant interval. 
      We don't have separate class options for this, instead we use 
      EndTimeLidarAggregator where the aggregation time is set using 
      lidar_aggregation_time_publisher_nodelet. 
      
      Note: this launch file launches two nodelets under the same 
      manager to do the publishing of the aggregation time, and the 
      actual aggregation
      -->
<launch>
      <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>
      <node pkg="nodelet" type="nodelet" name="time_publisher" args="load lidar_aggregation/lidar_aggregation_time_publisher_nodelet nodelet_manager" output="screen">
            <rosparam command="load" file="$(find lidar_aggregation)/config/const_time_publisher_params.yaml" ns="/lidar_aggregation/time_publisher" />
      </node>
      <node pkg="nodelet" type="nodelet" name="aggregator" args="load lidar_aggregation/lidar_aggregation_nodelet nodelet_manager" output="screen">
            <rosparam command="load" file="$(find lidar_aggregation)/config/end_time_aggregator_params.yaml" ns="/lidar_aggregation/aggregator" />
      </node>
</launch>