<launch>
  
  <!-- Load calibration params for this dataset,  including intrinsics and extrinsics. 
       Note: These are global params that need to be loaded for all launch files. -->
  <rosparam command="load" file="$(find beam_slam_launch)/config/ig2/calibration_params.yaml"/>

  <arg name="extrinsics_file_path" value="/userhome/catkin_ws/src/beam_robotics/calibration/results/inspector_gadget2/current/extrinsics/extrinsics.json"/>
  <node name="calibration_publisher" pkg="calibration_publisher" type="calibration_publisher_main">
    <param name="robot_name" value=""/>
    <param name="extrinsics_file_path" value="$(arg extrinsics_file_path)"/>
  </node>

  <!-- Launch local (odometry) -->
  <node pkg="fuse_optimizers" type="fixed_lag_smoother_node" name="local_mapper" output="screen" >
    <rosparam command="load" file="$(find beam_slam_launch)/config/ig2/jake_tests_vio.yaml"/>
  </node>

</launch>
