<launch>

  <arg name="config" default="$(find beam_launch)/config/demo.yaml" />
  <arg name="rviz" default="$(find beam_launch)/rviz/demo.rviz" />
  
  <node pkg="fuse_optimizers" type="fixed_lag_smoother_node" name="fixed_lag_smoother" output="screen">
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz)" output="screen"/>

  <!-- Note - these TFs are only here so that you can visualize the odometry/ground_truth from Gazebo inside of RVIZ-->
  <node pkg="tf" type="static_transform_publisher" name="world_map_tf" args="0 0 0 0 0 0 world map 1000" />
  <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 map odom 1000" />

</launch>
