<launch>

  <!-- Load calibration params for this dataset,  including intrinsics and extrinsics. 
       Note: These are global params that need to be loaded for all launch files. -->
  <rosparam command="load" file="$(find beam_slam_launch)/config/kaarta/calibration_params.yaml"/>

  <!-- Include calibration publisher for this dataset -->
  <include file="$(find beam_slam_launch)/launch/kaarta/calibration_publisher_kaarta.launch" />

  <!-- Launch local mapper -->
  <node pkg="fuse_optimizers" type="fixed_lag_smoother_node" name="fixed_lag_smoother" output="screen">
      <rosparam command="load" file="$(find beam_slam_launch)/config/kaarta/local_mapper.yaml"/>
  </node>

</launch>
